# Dossiers de compilation (CMake / Visual Studio)
build/
bin/
obj/
out/
.vs/
x64/

# Fichiers générés par le compilateur
*.exe
*.obj
*.pdb
*.ilk
*.sln
*.vcxproj
*.filters
*.user

# Fichiers système
.DS_Store
Thumbs.db

# Fichier random
.zip